# Yelp grossometer

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

main_directory = r'C:\Users\ASUS\Desktop\ML-data science\DataIncubator\yelp-cleaners' + '\\'
processed_data_directory = main_directory + r'data\processed data' + '\\'

In [4]:
business_df_latest = pd.read_csv(processed_data_directory + 'business_df_latest_inspection.csv')
business_df = pd.read_csv(processed_data_directory + 'business_df.csv')
review_df = pd.read_csv(processed_data_directory + 'review_df.csv')

# process dataset

Let's only look at a few reviews from each business. Some of them have thousands of reviews which just increases runtime.

In [52]:
bare_bones_bdf = business_df[['business_id','Inspection Date','Score']].rename({'Inspection Date':'date'},axis=1).copy()
bare_bones_bdf['date'] = pd.to_datetime(bare_bones_bdf['date'])

In [54]:
bare_bones_rdf = review_df[['business_id','review_id','text','date']].copy()
bare_bones_rdf['date'] = pd.to_datetime(bare_bones_rdf['date'])
bare_bones_rdf

,business_id,review_id,text,date
0,mOnesB4IF9j6-ZmHoOHOig,GDgXjXSZCA1iNQWD7OHXfg,I think their rice dishes are way better than ...,2017-05-26 03:05:46
1,-_GnwXmzC3DXsHR9nyaC2g,GgWFjRHhelaiUgR2-H6N4g,3.5 stars! I got the avocado margarita and it ...,2012-11-06 07:09:57
2,bZiIIUcpgxh8mpKMDhdqbA,z-6ElnK3yXpn2oNKR7NYtw,My husband and I shared the parmesan truffly f...,2017-10-11 00:25:47
3,gvpoFnaCq2J7TBXV7yFIkQ,nqUJoSkDr_1mqnLtOrWFSA,"Perfect spices, nice atmosphere & music, great...",2017-07-28 19:17:54
4,LUCmOKTK5Uh7eU84yJq3mQ,h6o5mduBqDUkKsa4KRIDzw,Snap is my go-to lunch spot nearly every day! ...,2015-06-08 18:07:06
...,...,...,...,...
570609,dgywJM4JpniwOEDNfrfewg,I_8BJ6vZo7mVHi4TzuEK2A,I rec'd my meal as part of a complimentary Yel...,2020-08-09 19:53:40
570610,Qmq4gr5Mmo2oIVejag48PA,oabuTmGpHquA4sc4C0DatQ,This place serves amazingly tasty gluten free ...,2020-09-13 00:53:03
570611,zM98ZSIJyuBQabyYornLpw,hKxvxtCjEJAwD_7AcnA_iQ,Bartender was friendly and attentive. We came ...,2021-01-10 04:10:45
570612,Wn8j-1-ity6hdjP4bC_wkw,UWHPbsQzfrmjtDCbq2AeDg,Terrible pho. Literally zero flavor. And the c...,2021-01-17 22:09:10
570613,XVmp1LmrXKB8cXomLKbu9w,Xf7iZpZC0MdosClyzZTmGg,"Very nice ambiance, clean inside and food is g...",2018-05-28 01:50:26

In [63]:
test1 = bare_bones_bdf[bare_bones_bdf['business_id']=='mOnesB4IF9j6-ZmHoOHOig']
test1

                business_id       date  Score
576  mOnesB4IF9j6-ZmHoOHOig 2019-06-18   83.0
577  mOnesB4IF9j6-ZmHoOHOig 2020-01-02   79.0
578  mOnesB4IF9j6-ZmHoOHOig 2020-07-20   80.0
579  mOnesB4IF9j6-ZmHoOHOig 2021-02-04   89.0
580  mOnesB4IF9j6-ZmHoOHOig 2021-06-09   83.0
581  mOnesB4IF9j6-ZmHoOHOig 2021-10-18   79.0
582  mOnesB4IF9j6-ZmHoOHOig 2022-04-05   76.0

In [68]:
test2 = bare_bones_rdf[bare_bones_rdf['business_id']=='mOnesB4IF9j6-ZmHoOHOig'].sort_values('date')
test2

,business_id,review_id,text,date
1721,mOnesB4IF9j6-ZmHoOHOig,NMujHXIy_683hmmOjrJpxw,Recently re-named Pho Van. This is a popular v...,2005-06-17 15:37:08
14368,mOnesB4IF9j6-ZmHoOHOig,DKvS3R_yd_i4jD3x1r2vCw,"Admittedly, I'd give any decent Pho place 4 st...",2006-10-18 19:17:56
58843,mOnesB4IF9j6-ZmHoOHOig,ZKj8EKniMzbojym18dgJYg,I am tempted to incorporate all sorts of of Ph...,2007-06-07 00:59:37
19076,mOnesB4IF9j6-ZmHoOHOig,KRRBHC5EfVpyhOOF_XQHMA,"This is the way it should be, good and simple....",2007-07-25 01:47:52
58895,mOnesB4IF9j6-ZmHoOHOig,pT0uegaWG9Ok6k3OxLzcag,Pretty typical Pho restaurant but it has reaso...,2007-09-10 02:04:51
...,...,...,...,...
74325,mOnesB4IF9j6-ZmHoOHOig,1MCJ53d5W2oiliq1zC3vBQ,"My friend and I came to Pho Van on a whim, and...",2020-11-19 23:20:57
60477,mOnesB4IF9j6-ZmHoOHOig,AMSW6KerLCmIIzZwm0iXgA,My family and I have been going here for years...,2020-12-01 18:40:05
74879,mOnesB4IF9j6-ZmHoOHOig,K5wTaO1IQ2cQj-wGAIWfKw,I absolutely love this place! Pho here is alwa...,2020-12-24 15:25:35
71019,mOnesB4IF9j6-ZmHoOHOig,NvKCSl4w9U4xPEPeR9RQ3A,This place was a very pleasant surprise! We we...,2021-01-09 19:23:33
55808,mOnesB4IF9j6-ZmHoOHOig,bGfSsaRNMjlDrhEtHxEX2g,Our favorite Pho Restaurant in Austin! Super h...,2021-01-25 01:11:43

In [72]:
pd.merge_asof(test2,test1,on='date',direction='nearest')

,business_id_x,review_id,text,date,business_id_y,Score
0,mOnesB4IF9j6-ZmHoOHOig,NMujHXIy_683hmmOjrJpxw,Recently re-named Pho Van. This is a popular v...,2005-06-17 15:37:08,mOnesB4IF9j6-ZmHoOHOig,83.0
1,mOnesB4IF9j6-ZmHoOHOig,DKvS3R_yd_i4jD3x1r2vCw,"Admittedly, I'd give any decent Pho place 4 st...",2006-10-18 19:17:56,mOnesB4IF9j6-ZmHoOHOig,83.0
2,mOnesB4IF9j6-ZmHoOHOig,ZKj8EKniMzbojym18dgJYg,I am tempted to incorporate all sorts of of Ph...,2007-06-07 00:59:37,mOnesB4IF9j6-ZmHoOHOig,83.0
3,mOnesB4IF9j6-ZmHoOHOig,KRRBHC5EfVpyhOOF_XQHMA,"This is the way it should be, good and simple....",2007-07-25 01:47:52,mOnesB4IF9j6-ZmHoOHOig,83.0
4,mOnesB4IF9j6-ZmHoOHOig,pT0uegaWG9Ok6k3OxLzcag,Pretty typical Pho restaurant but it has reaso...,2007-09-10 02:04:51,mOnesB4IF9j6-ZmHoOHOig,83.0
...,...,...,...,...,...,...
366,mOnesB4IF9j6-ZmHoOHOig,1MCJ53d5W2oiliq1zC3vBQ,"My friend and I came to Pho Van on a whim, and...",2020-11-19 23:20:57,mOnesB4IF9j6-ZmHoOHOig,89.0
367,mOnesB4IF9j6-ZmHoOHOig,AMSW6KerLCmIIzZwm0iXgA,My family and I have been going here for years...,2020-12-01 18:40:05,mOnesB4IF9j6-ZmHoOHOig,89.0
368,mOnesB4IF9j6-ZmHoOHOig,K5wTaO1IQ2cQj-wGAIWfKw,I absolutely love this place! Pho here is alwa...,2020-12-24 15:25:35,mOnesB4IF9j6-ZmHoOHOig,89.0
369,mOnesB4IF9j6-ZmHoOHOig,NvKCSl4w9U4xPEPeR9RQ3A,This place was a very pleasant surprise! We we...,2021-01-09 19:23:33,mOnesB4IF9j6-ZmHoOHOig,89.0
370,mOnesB4IF9j6-ZmHoOHOig,bGfSsaRNMjlDrhEtHxEX2g,Our favorite Pho Restaurant in Austin! Super h...,2021-01-25 01:11:43,mOnesB4IF9j6-ZmHoOHOig,89.0

In [5]:
review_df

,review_id,user_id,business_id,review_stars,useful,funny,cool,text,date
0,GDgXjXSZCA1iNQWD7OHXfg,1RCRKuHgP3FskGUVnmFdxg,mOnesB4IF9j6-ZmHoOHOig,4,0,0,0,I think their rice dishes are way better than ...,2017-05-26 03:05:46
1,GgWFjRHhelaiUgR2-H6N4g,pRPT3vqhqpU7kHgmKJamvw,-_GnwXmzC3DXsHR9nyaC2g,3,0,0,0,3.5 stars! I got the avocado margarita and it ...,2012-11-06 07:09:57
2,z-6ElnK3yXpn2oNKR7NYtw,OSsqq7CzBdAbF7E6kZHd0g,bZiIIUcpgxh8mpKMDhdqbA,3,0,0,0,My husband and I shared the parmesan truffly f...,2017-10-11 00:25:47
3,nqUJoSkDr_1mqnLtOrWFSA,HLE4PMeOrkQkIR559IkY9A,gvpoFnaCq2J7TBXV7yFIkQ,5,0,0,0,"Perfect spices, nice atmosphere & music, great...",2017-07-28 19:17:54
4,h6o5mduBqDUkKsa4KRIDzw,Nw4GV60oM78Uizh9dUuqNQ,LUCmOKTK5Uh7eU84yJq3mQ,5,0,0,0,Snap is my go-to lunch spot nearly every day! ...,2015-06-08 18:07:06
...,...,...,...,...,...,...,...,...,...
570609,I_8BJ6vZo7mVHi4TzuEK2A,74bzP169TBBFLEnzQsCdHw,dgywJM4JpniwOEDNfrfewg,2,10,0,3,I rec'd my meal as part of a complimentary Yel...,2020-08-09 19:53:40
570610,oabuTmGpHquA4sc4C0DatQ,tsSyIyhRp37fDpN78q3crw,Qmq4gr5Mmo2oIVejag48PA,4,4,1,3,This place serves amazingly tasty gluten free ...,2020-09-13 00:53:03
570611,hKxvxtCjEJAwD_7AcnA_iQ,VEB7udH-qIN_ON1SMyWrPg,zM98ZSIJyuBQabyYornLpw,3,0,0,0,Bartender was friendly and attentive. We came ...,2021-01-10 04:10:45
570612,UWHPbsQzfrmjtDCbq2AeDg,Cx85VtZCOwdzHATPlB6fyQ,Wn8j-1-ity6hdjP4bC_wkw,2,0,0,0,Terrible pho. Literally zero flavor. And the c...,2021-01-17 22:09:10
570613,Xf7iZpZC0MdosClyzZTmGg,spFkIHa7x15DJe4gVnSCqw,XVmp1LmrXKB8cXomLKbu9w,5,2,0,1,"Very nice ambiance, clean inside and food is g...",2018-05-28 01:50:26